* {
    margin: 0;
    box-sizing: border-box;
}

/* inter-font-style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    background: rgba(0, 0, 0, 0.940);
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* _________shared style_________ */
.display-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

/* _________navigation style_________ */

.navigation {
    max-width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    margin-top: 50px;
}

.nav-items {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 3px 30px 3px 0;
    border-radius: 1.40rem;
}

.nav-items li {
    margin-left: 50px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(230, 83, 60, 1);

}

#home {
    padding: 12px 30px;
    border-radius: 20px;
    margin-left:0;
    background: rgba(230, 83, 60, 1);

}

.ham-burger {
    color: white;
    display: none;
    font-size: 40px;
}

/* ____________banner-container style_____________ */
.banner-container {
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.banner-text {
    width: 65%;
}

.banner-image {
    /* border: 2px solid red; */
    width: 33%;
    position: relative;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

.banner-title {
    color: rgba(255, 255, 255, 1);
    font-size: 8rem;
    font-weight: 700;
    padding-top: 1em;
    line-height: 130px;
}

#shape {
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    line-height: 90px;
    font-weight: 400;
}

.banner-description {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 30px;
    width: 600px;
    margin: 40px 0;
}

.button-primary {
    display: flex;
    gap: 20px;
}

.banner-btn {
    width: 250px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 1.30rem 2rem;
    border-radius: 2rem;
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.940);
}

#banner-btn {
    background: rgba(230, 83, 60, 1);
    border: none;
}

/* ______video tutorial______ */
#video-badge {
    width: 230px;
    height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 80%;
    left: -25%;
    background: rgba(63, 50, 50, 0.281);
    backdrop-filter: blur(6px);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.div-dot {
    background: rgba(230, 83, 60, 1);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: relative;
}
.fa-solid{
    position: absolute;
    color: white;
    font-size: 15px;
    top: 32%;
    left: 40%;
}

#workout-badge {
    width: 230px;
    height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 22%;
    left: 60%;
    background: rgba(63, 50, 50, 0.281);
    backdrop-filter: blur(6px);
    border-radius: 8px;
}

.video-tutorial {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
}

.workout-video {
    color: rgba(255, 255, 255, 1);
    font-size: 3.8rem;
    font-weight: 700;
}

#video-tutorial,
#workout-video {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
    font-weight: 300;
}

/* _____________habit-container_____________ */

.habit-content {
    width: 700px;
    margin: 0 auto;
    margin-top: 70px;
}

.habit-title {
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px 0;
}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 25px;
}

/*____________habit image container___________ */
.habit-image-container {
    margin-top: 1.8rem;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
    gap: 2.4rem;
    padding: 1rem;
}

.habit-image {
    width: 300px;
    /* border: 1px solid yellowgreen; */
}

.habit-image img {
    width: 100%;
    border-radius: 200px;
    padding: 1rem;
}

.habit-image h5 {
    font-size: 1.45rem;
    margin: 5px 0;
    color: rgba(255, 255, 255, 1);

}

.habit-image p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 5px 0;
}

/* ________mile-container________ */
.mile-container {
    padding: 22px 25px 22px 45px;
    justify-content: space-between;
    background: rgba(34, 34, 34, 1);
    border-radius: 20px;
    margin-top: 70px;
}

.mile-title {
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px 0;
}

.mile-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0;
    line-height: 28px;
    max-width: 450px;
}
.mile-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.mile-image {
    width: 40%;
}

.mile-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#join-now-btn {
    background: rgba(230, 83, 60, 1);
    border: none;
}
/* ____________Training-section____________ */
.training-container{
    margin-top: 100px;

}
.training-title{
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px 0;
}
.training-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 25px;
    width: 600px;
}
.training-image-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    /* border: 1px solid red; */
    height: 400px;
}
.image-1{
    background: red;
    grid-column: 1/span 4;
    grid-row: 1/span 6;
    position: relative;
}
.name-1{
    position: absolute;
    color: white;
    top: 80%;
    left: 10%;
}
.image-2{
    background: yellow;
    grid-column: 5/span 5;
    grid-row: 1/span 6;
    position: relative;
}
.name-2{
    position: absolute;
    color: white;
    top: 15%;
    left: 10%;
}
.image-3{
    background: green;
    grid-column: 10/span 4;
    grid-row: 1/span 6;
    position: relative;
}
.image-4{
    background: aqua;
    grid-column: 1/span 5;
    grid-row: 7/span 6;
    position: relative;
}
.name-4{
    position: absolute;
    color: white;
    top: 15%;
    left: 60%;
}
.image-5{
    background: blue;
    grid-column: 6/span 3;
    grid-row: 7/span 6;
    position: relative;
}
.name-5{
    position: absolute;
    color: white;
    top: 80%;
    left: 10%;
}
.image-6{
    background: red;
    grid-column: 9/span 4;
    grid-row: 7/span 6;
    position: relative;
}
.training-image-container img{
    width: 100%;
    height: 200px;
} 




/* ________________BMI-section________________ */
.bmi-section{
    margin-top: 100px;
}
.bmi-content{
    width: 900px;
    margin: 0 auto;
    margin-top: 70px;
    /* border: 1px solid red; */
}
.bmi-title{
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    font-weight: 700;
    margin: 10px 0;
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    line-height: 25px;
    width: 600px;
}
.calc-title{
    color: rgba(255, 255, 255, 1);
    font-size: 1.8rem;
    margin: 3rem 0;
}
.calc-description{
    width: 650px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 25px;
    margin: 15px 0;
}
table{
    border-collapse: collapse; 
    /* margin-top: 5rem; */
}
th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    padding: 1rem 2rem;
}
th{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
/* ___________calculate-section___________ */
.calculate-section{
    background: rgba(34, 34, 34, 1);
    margin-top: 5.8rem;

}
.calculator-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 3rem 0.2rem 5rem;
}
.bmi-table{
    width: 30%;
}
.bmi-calculator{
    width: 60%;
}
/* ________form-container_________ */
.form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 18px;
}
.form-field{
    width: 48%;

}
.form-field-text-area{
    width: 100%;
}
.form-container input,select{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 40px 12px 20px;
    
}
select,option{
    color: rgba(177, 169, 169, 0.6);
}
.calculate-btn{
    width: 250px;
    height: 60px;
    padding: 1.30rem 2rem;
    border-radius: 2rem;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgba(230, 83, 60, 1);
    border: none;
    margin-top: 2rem;
   
}

/* ___________teams-container__________ */
.teams-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background: rgba(29, 27, 27, 0.918);
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
}

.team-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

.team-image {
    position: relative;
}

.clint-name {
    position: absolute;
    top: 82%;
    left: 15px;
}

.clint-name h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

.clint-name p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

/* _______________Footer-container______________ */
.footer-section {
    background: rgba(255, 255, 255, 0.1);
}

.footer-container {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid red; */
    gap: 7rem;
    padding-left: 1rem;
    padding-top: 3rem;
}

.footer-title {
    font-size: 5rem;
    font-weight: bold;
    color: rgba(230, 83, 60, 1);
}

.footer-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 25px;
}

.get-started h4 {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
}

.get-started p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.50rem;
    line-height: 3rem;
}

 .horizontal-line hr{
    margin: 3vw 8vw ;
    border: 2px solid rgba(255, 255, 255, 0.1)
 }

.copyright {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}

/* __________________________________
           Responsive Media-Query
   ________________________________*/
@media screen and (max-width:576px) {
    .container {
        max-width: 90%;
    }

    .navigation {
        max-width: 90%;
        padding: 0;
    }

    .nav-items {
        display: none;
    }

    .ham-burger {
        display: block;
    }

    .banner-container {
        flex-direction: column;
        max-width: 90%;
    }

    .banner-text {
        width: 100%;
    }

    .banner-title {
        font-size: 3rem;
        line-height: 90px;
    }

    #shape {
        font-size: 8rem;
    }

    .banner-description {
        width: 350px;
        margin: 20px 0px;
    }

    .banner-btn {
        width: 250px;
        height: 60px;
        padding: 1.30rem 2rem;
        font-size: 14px;
    }

    .banner-image {
        margin-top: 2rem;
        width: 100%;
    }

    /* _____________badge__________ */
    #video-badge {
        width: 180px;
        height: 100px;
        top: 47%;
        left: 0%;
    }

    .video-tutorial {
        font-size: 2.5rem;
    }

    #workout-badge {
        top: 5%;
        left: 53%;
        width: 170px;
        height: 100px;
    }

    .workout-video {
        font-size: 3.5rem;
    }

    #video-tutorial,
    #workout-video {
        font-size: 0.9rem;
    }

    /* _____________Habit-container_____________ */

    .habit-content {
        width: 350px;
        margin: 0 auto;
    }

    .habit-title {
        font-size: 2.2rem;
    }

    .habit-image-container {
        flex-direction: column;
    }
    .habit-image img {
        padding: 2rem;
    }

    /* ____________Mile-Container____________ */
    .mile-container {
        flex-direction: column;
        gap: 2rem;
        padding: 30px 30px;
    }

    .mile-title {
        font-size: 2.6rem;
    }
    .mile-description{
        width: 300px;
    }
    .mile-text{
        width: 100%;
    }
    .mile-image {
        width: 100%;
    }

    #join-now-btn {
        width: 100%;
        background: rgb(226, 82, 30);
        border: none;
    }
    /* _____________training-section_____________ */
    .training-title{
        font-size: 3rem;
    }
    .training-description{
        width: 350px;
    }
    /* _______________bmi-section______________ */
    .bmi-content{
       width: 400px;
       margin-left: 25px;
    }
    .bmi-title{
        font-size: 3rem;
    }
    .bmi-description{
        width: 350px;
    }
    .calculate-section{
        background: rgba(34, 34, 34, 1);
        margin-top: 2.8rem;
    }
    .calculator-container{
        flex-direction: column;
    }
    .calc-description{
        width: 100%;
    }
    .bmi-table{
        width: 100%;
    }
    .bmi-calculator{
        width: 100%;
    }


    /* ________________teams-container_______________ */
    .teams-container {
        margin-top: 30px;
    }

    .teams-image-container,
    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        gap: 2.8rem;
    }

    .team-image img {
        width: 100%;
        height: 350px;
    }
}